body {
    margin: 0;
    overflow: hidden;
}
.background {
    width: 100vw;
    height: 100vh;
    background: #3e1e68;
}
.background span {
    width: 20vmin;
    height: 20vmin;
    border-radius: 20vmin;
    backface-visibility: hidden;
    position: absolute;
    animation-name: move;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.background span:nth-child(1) {
    color: #583c87;
    top: 66%;
    left: 51%;
    animation-duration: 10.8s;
    animation-delay: -9.9s;
    transform-origin: 3vw 17vh;
    box-shadow: -40vmin 0 18564255765vmin currentColor;
}
.background span:nth-child(2) {
    color: #ffacac;
    top: 78%;
    left: 81%;
    animation-duration: 15.2s;
    animation-delay: -1.7s;
    transform-origin: 12vw 23vh;
    box-shadow: -40vmin 0 2961491665vmin currentColor;
}
.background span:nth-child(3) {
    color: #e45a84;
    top: 69%;
    left: 21%;
    animation-duration: 15.3s;
    animation-delay: -11.8s;
    transform-origin: -16vw -16vh;
    box-shadow: -40vmin 0 7534291215vmin currentColor;
}
.background span:nth-child(4) {
    color: #ffacac;
    top: 89%;
    left: 94%;
    animation-duration: 11.4s;
    animation-delay: -6.2s;
    transform-origin: -16vw 2vh;
    box-shadow: -40vmin 0 17996280655vmin currentColor;
}
.background span:nth-child(5) {
    color: #583c87;
    top: 88%;
    left: 33%;
    animation-duration: 10.4s;
    animation-delay: -10.3s;
    transform-origin: -9vw -19vh;
    box-shadow: -40vmin 0 11405885365vmin currentColor;
}
.background span:nth-child(6) {
    color: #e45a84;
    top: 82%;
    left: 51%;
    animation-duration: 13.2s;
    animation-delay: -13.7s;
    transform-origin: 0vw -20vh;
    box-shadow: -40vmin 0 2844649745vmin currentColor;
}
.background span:nth-child(7) {
    color: #ffacac;
    top: 87%;
    left: 85%;
    animation-duration: 10.3s;
    animation-delay: -9.5s;
    transform-origin: -18vw 5vh;
    box-shadow: -40vmin 0 5089368905vmin currentColor;
}
.background span:nth-child(8) {
    color: #583c87;
    top: 38%;
    left: 15%;
    animation-duration: 10.5s;
    animation-delay: -0.5s;
    transform-origin: -9vw 2vh;
    box-shadow: -40vmin 0 5211163355vmin currentColor;
}
.background span:nth-child(9) {
    color: #e45a84;
    top: 75%;
    left: 53%;
    animation-duration: 12.9s;
    animation-delay: -15.2s;
    transform-origin: 5vw 21vh;
    box-shadow: -40vmin 0 18332206465vmin currentColor;
}
.background span:nth-child(10) {
    color: #e45a84;
    top: 47%;
    left: 59%;
    animation-duration: 10.6s;
    animation-delay: -1.5s;
    transform-origin: -16vw -4vh;
    box-shadow: -40vmin 0 8855666025vmin currentColor;
}
.background span:nth-child(11) {
    color: #e45a84;
    top: 79%;
    left: 55%;
    animation-duration: 15.1s;
    animation-delay: -7s;
    transform-origin: -4vw -11vh;
    box-shadow: -40vmin 0 11328798105vmin currentColor;
}
.background span:nth-child(12) {
    color: #e45a84;
    top: 28%;
    left: 11%;
    animation-duration: 12.8s;
    animation-delay: -8.9s;
    transform-origin: -1vw -6vh;
    box-shadow: -40vmin 0 5835964195vmin currentColor;
}
.background span:nth-child(13) {
    color: #ffacac;
    top: 75%;
    left: 11%;
    animation-duration: 11s;
    animation-delay: -5.9s;
    transform-origin: -16vw -5vh;
    box-shadow: -40vmin 0 3629635615vmin currentColor;
}
.background span:nth-child(14) {
    color: #583c87;
    top: 20%;
    left: 49%;
    animation-duration: 10.3s;
    animation-delay: -1.6s;
    transform-origin: -18vw 24vh;
    box-shadow: -40vmin 0 6111420225vmin currentColor;
}
.background span:nth-child(15) {
    color: #e45a84;
    top: 75%;
    left: 62%;
    animation-duration: 15.4s;
    animation-delay: -6.3s;
    transform-origin: -12vw -16vh;
    box-shadow: -40vmin 0 18828070445vmin currentColor;
}
.background span:nth-child(16) {
    color: #583c87;
    top: 57%;
    left: 88%;
    animation-duration: 10.1s;
    animation-delay: -2.1s;
    transform-origin: -11vw 3vh;
    box-shadow: -40vmin 0 11586034205vmin currentColor;
}
.background span:nth-child(17) {
    color: #ffacac;
    top: 98%;
    left: 32%;
    animation-duration: 13.3s;
    animation-delay: -2.1s;
    transform-origin: 14vw 10vh;
    box-shadow: -40vmin 0 12356459525vmin currentColor;
}
.background span:nth-child(18) {
    color: #ffacac;
    top: 26%;
    left: 80%;
    animation-duration: 14.9s;
    animation-delay: -9.6s;
    transform-origin: 23vw -2vh;
    box-shadow: -40vmin 0 4779159015vmin currentColor;
}
.background span:nth-child(19) {
    color: #e45a84;
    top: 29%;
    left: 79%;
    animation-duration: 15.4s;
    animation-delay: -15.5s;
    transform-origin: 13vw -20vh;
    box-shadow: -40vmin 0 1519995495vmin currentColor;
}
.background span:nth-child(20) {
    color: #583c87;
    top: 58%;
    left: 57%;
    animation-duration: 10.1s;
    animation-delay: -1.5s;
    transform-origin: -2vw 19vh;
    box-shadow: -40vmin 0 12278721865vmin currentColor;
}
@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
   }
}
