* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
}
div.main {
    width: 80%;
    margin: auto;
    margin-top: 2em;
    z-index: -1;
}
div.main > div.main-images, div.main-news {
    width: 100%;
    margin-top: 2em;
    display: block;
}
div.main div.main-images {
    height: 18.7em;
    display: block;
}
div.main div.main-images div.main-images-slide {
    /*height: 100%;
    width: 60%;
    float: left;*/
    color: white;
    width: 60%;
    height: 100%;
    display: flex;
    overflow-x: auto;
    float: left;
}
#slider {
    scroll-behavior: smooth;
}
#slider::-webkit-scrollbar {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 2em;
}
#slider::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 2em;
}
div.main div.main-images div.main-images-slide > div{
    width: 100%;
    flex-shrink: 0;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}
div.main div.main-images div.main-images-slide div.slide > img {
    height: 99%;
    width: 720px;
}
div.main div.main-images div.main-images-sale {
    height: 100%;
    width: 38%;
    float: right;
}
div.main div.main-images div.main-images-sale > img {
    height: 6.1em;
    padding: 0;
    width: 100%;
    margin: 0;
    cursor: pointer;
}
div.main div.main-news {
    background-color: white;
}
div.main div.main-news div.main-news-title, 
div.main div.main-product div.main-product-title {
    background-color:  white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: #333;
    font-size: 1.1em;
    height: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    padding: 0.5em;
    padding-bottom: 2em;
}
div.main div.main-news div.main-news-item {
    margin-top: 0.8em;
    height: 15em;
    width: 100%;
}
div.main div.main-news div.main-news-item div.main-news-item-image {
    float: left;
    width: 30%;
    height: 100%;
}
div.main div.main-news div.main-news-item div.main-news-item-image > img{
    width: 100%;
    height: 100%;
}
div.main div.main-news div.main-news-item div.main-news-item-contents {
    width: 65%;
    float: right;
    height: 100%;
}
div.main div.main-news div.main-news-item div.main-news-item-contents > a{
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}
div.main div.main-news div.main-news-item div.main-news-item-contents > p{
    margin-top: 3em;
    word-spacing: 0.2em;
    line-height: 2em;
}
div.main div.main-product {
    width: 100%;
    margin-top: 1em;
}
div.main div.main-product-itemList {
    width: 100%;
    display: flex;
    background-color: white;
}

div.main div.main-product-itemList-item {
    width: 25%;
    margin-top: 1.2em;
    margin-left: 1.5em;
    float: left;
}
div.main div.main-product-itemList-item-image > img {
    width: 70%;
    height: 11.5em;
    margin: auto;
    transition: 0.4s;
}
div.main div.main-product-itemList-item-image > img:hover {
    transform: translateY(-10%);
}
div.main div.main-product-itemList-item-content > h2 {
    margin-bottom: 1em;
}
div.main div.main-product-itemList-item-content > h2 >a {
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.8em;
    display: inline-block;
    margin: 0;
}